<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <div class="side-menu">
      <h1>PostIt</h1>
      <ul class="nav nav-pills nav-stacked">
      <div class="dropdown">
        <button class="btn dropdown-toggle btn-info active" type="button" data-toggle="dropdown">Helen J
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Status</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
    </div>
      <p></p>
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Find a Group..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div><br>
         <li class="btn-info active"><a href="#section1">Family</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">School Friends</a></li>
        <li><a href="#">Design Association</a></li>
        <li><a href="#">Data Analyst</a></li>
        <li><a href="#">CrackUrRibs</a></li>
      </ul><br>
    </div>
</div>

    <div class="col-sm-9">
    <div class="row">
    <div class="container-fluid">
    <nav class="navbar navbar-default">
    <div class="icon-bar">
    <a href="#"><i class="fa fa-commenting"></i></a> 
    <a class="active" href="#"><i class="fa fa-user-plus"></i></a> 
    <a href="#"><i class="fa fa-bell"></i></a> 
    <a href="#"><i class="fa fa-plus"></i></a>
    <a href="#"><i class="fa fa-bars"></i></a> 
	</div>
    </nav>
  </div>
  </div>

  	
     
     <div class="container" align = "center">
  	<form action="/action_page.php">
    <fieldset class="form-info">
	      <h3>Invite people to Join a Group</h3>
    	  <div class="form-group">
          <label for="name">Group Name:</label><br>
          <input type="text" placeholder=" Enter Group Name" class="create-control text-opacity" required="" id="group-name" />
          <button type="submit">Find People</button>
          </div>
          <p></p>
          <div class="form-group">
          <label for="name">Email:</label><br>
          <input type="text"  placeholder=" Enter an Email" class="create-control text-opacity" required="" id="group-description" />
          </div>
          <p></p>
          <div class="form-group">
          <label for="name">Email:</label><br>
          <input type="text" placeholder=" Enter an Email" class="create-control text-opacity" required="" id="group-name" />
          </div>
          <p></p>
          <div class="form-group">
          <label for="name">Email:</label><br>
          <input type="text" placeholder=" Enter an Email" class="create-control text-opacity" required="" id="group-name" />
          </div>
          <p></p>
          <div><button type="submit" class=" btn btn-primary"><i class="fa fa-paper-plane"></i>Send Invite</button></div> 
          <p></p>
          </fieldset>
          </form>
          </div>
  </div>

</body>
</html>
