<html>
  <head>
    <title>PostIt</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  	<div class="container-fluid">
      <form>
  		<h1>PostIt</h1>
      <h3>Login</h3>
  	  <div>
    <div class="col-xs-7"><input type="text" class="form-control" placeholder="Enter Username" required></div>
    <p></p>
    <div class="col-xs-7"><input type="text" class="form-control" placeholder="Enter Password" required></div>
    <p></p>
    <div class="col-xs-7"><button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button></div>
    </div>
  </form>
  	</div>
  </body>
</html>