<!DOCTYPE html>
<html class="login-back">
  <head>
    <title>PostIt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body class="form-body">
  	  <div class="container-fluid">
        <form class="create-form" align = "center">
          <fieldset class="create-info">
          <h1>PostIt</h1>
	      <h3>Welcome Onboard!</h3>
          <input type="text" placeholder=" Enter Username" class="create-control text-opacity" required="" id="username" />
          <p></p>
          <input type="password" placeholder=" Enter Password" class="create-control text-opacity" required="" id="password" />
          <p></p>
          <input type="password" placeholder=" Re-enter Password" class="create-control text-opacity" required="" id="password" />
          <p></p>
          <input type="email" placeholder=" Enter Email" class="create-control text-opacity" required="" id="email" />
          <p></p>
          <input type="tel"  placeholder=" Enter Phone" class="create-control text-opacity" required="" id="phone" >
          <p></p>
          <div><a href="goup-message.html" type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Get Started</a></div> 
          <p></p>
    	  <div class="button">
      	  <a href="#">Invite A Friend!</a>
    	  </div>
    	</fieldset>
    </form>
	</div>
  </body>
</html>