.form-body { 
	display: block;
	text-align: center;
	padding: 70px; 
	margin: auto;
    width: 50%;
}

/* Login page CSS */

.login-form{
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.login-back{
  background-color: #31b0d5;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
   /* color: #31b0d5;*/
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.form-control {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.account-info {
  color: #31b0d5;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px 0 20px;
}

.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  margin-top: 6px;
  width: 100%;
}

.btn-primary {
  background: linear-gradient(#31b0d5, #31b0d5);
  width: 100%;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 8px;
}

.btn-danger {
  width: 100%;
}

/* Registration page CSS */
.create-form{
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 350px;
  margin-left: auto;
  margin-right: auto;

}

.create-control {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.create-info {
  color: #31b0d5;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px 0 20px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-opacity {
  opacity: 0.5;
}

.create-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  margin-top: 6px;
  width: 100%;
}

 /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
   .row.content {height: 1500px}
    
    .icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #777777; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color:  #f8f8f8; /* Add an active/current color */
}
    
    /* Set gray background color and 100% height */
    .sidenav {
     /* background-color: #f8f8f8;*/
      background-color: #31b0d5;
      border-color: #269abc;
      height: 100%;
      position: fixed;
      width: 25%;
      left: 0;
    } 
    
    .navbar {
    position: fixed;
      right: 0;
      width: 75%;
    }
    
    .chatbody{
      width: 75%;
        right: 0;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
      height: auto;
      } 
      
      .table-row{
      width: 75%;
        right: 0;
      }
    }
    
    .message_write {
      background: #f5f3f3 none repeat scroll 0 0;
      float: left;
      padding: 15px;
      width: 75%;
      position: fixed;
      bottom: 0;
      right: 0;
  }

     .message_write textarea.form-control {
       height: 70px;
       padding: 10px;
  }
  .chat_bottom {
      float: left;
      margin-top: 13px;
      width: 100%;
  }
  .upload_btn {
      color: #777777;
  }

 .form-info {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  display: block;
  margin-top: 100px;
  text-align: left;
  width: 40%;
  padding: 20px;